@{
    ViewBag.Title = "sobre nosotros";
}
<h2>@ViewBag.Title.</h2>
<p> estamos comprometidos con la accesibilidad de la web, no importa quien sea o como ingrese </p>
<article>
    la web nos permite estar conectados en todo momento y lugar. 
    pero a un así muchas páginas web  tienen bareras de accesibilidad  para muchas personas.
    Nos proponemos ayudarte a mejorar la accsibilidad de tu   sitio web 
    ¿por que  mejorar la accesiblidad?
    según la organización  mundial de la salud, mas de 1000 millones de personas  en el mundo presentan alguna discapacidad, y por lo tanto  si mejoramos el acceso a  nuestras páginas web significa que mas usuarios   podrán usar nuestros servicios.

</article>
