@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>


<address>
    <strong>comunicate con nosotros:</strong>   <a href="mailto:emir.chesini@gmail.com">emir.chesini@gmail.com</a><br />
    </address>
