
@{
    ViewBag.Title = "nuestros servicios ";
}

<h2>@ViewBag.Title</h2>
<h3> testing de accesibilidad web </h3>
<article>
     mientras mas cantidad de gente visite su página web, mas  repercución tendrá.
    es por eso que es    necesario desarrollarlas de la manera mas accesible posible.
    Es por eso que probamos su página web
</article>
<hr />
<h3> testing de aplicaciones accesibles</h3>
<article>
    probamos sus aplicaciones, garantizando que   la mayor cantidad de usuarios puedan interactuar con ellas.

</article>
<hr />
<h3> documentación accesible </h3>
<article>
combertimos documentación no accesible como pueden ser pdf con imágenes,  escritos en papel o fórmulas matemáticas  en información que puede ser interpretada por todos  
</article>