@{
    ViewBag.Title = "sobre nosotros";
}
<h2>@ViewBag.Title.</h2>
<div id="about">
    <h2>sobre nosotros.</h2>
    <article>
        somos una empresa con una fuerte base tecnológica que ayuda a generar valor a sus clientes, apalancando el cumplimiento de sus objetivos estratégicos mediante el uso de metodologías estructuradas y adaptables.
        para que cualquier persona, independientemente de sus dificultades o del  medio al que acceda pueda  interactuar con ellos.<br />
        <h2> <strong> visión</strong> </h2>
        Ser reconocidos como una empresa con servicios de calidad y excelencia.
        Ser  vistos  como un aliado estratégico, a través de la generación de valor y con un alto nivel de satisfacción de sus clientes y  empleados.
        <h2><strong> Valores</strong></h2>
        COMPROMISO: Compartiendo conocimientos, experiencias y esfuerzo, para poder ofrecer el mejor servicio. Supone trabajar bajo un método, en un ambiente que promueva el enriquecimiento, en el cual se valoran y se respetan todas las opiniones e ideas. <br />
        HONESTIDAD: Con transparencia, honradez e integridad en nuestras relaciones del día a día, empezando por nosotros mismos y rechazando prácticas de negocio injustas, orientadas a obtener una ventaja particular y siendo ejemplo para los demás. Hacemos lo que sabemos. <br />
        superación: Con el objetivo de ofrecerles  un mejor servicio a nuestros clientes, creemos  que es importante   capacitarnos lo mas posible, aprendiendo de nuestros errores. <br />
        ressponsabilidad:  Tu tiempo es importante  para nosotros, es por eso que  nos esforzamos al máximo   para que consigas tu objetivo  en el menor plazo posible. <br />
    </article>
</div>
