@{
    ViewBag.Title = "Contacto";
}
<h3 class="text-center">@ViewBag.Title.</h3>
<div class="row">
    <div class=”col-lg-3 col-md-4 col-sm-6 col-xs-12″>
        <address>
            <a href="mailto:emir.chesini@gmail.com" title="emir.chesini@gmail.com" rel=»nofollow»> <img src="Content/images/emailLogo.png" class="img-thumbnail" alt="" width="100" height="100" />  </a><br />
        </address>

    </div>
    <div class=”col-lg-3 col-md-4 col-sm-6 col-xs-12″>
        <address>
            <a href="tel:5493513320801" title="llamanos!" rel=»nofollow»></a>
        </address>
        <div class=”col-lg-3 col-md-4 col-sm-6 col-xs-12″>
            <address>
                <a href="https://api.whatsapp.com/send?phone=5493513320801&" title="consultar por whatsapp" rel=»nofollow»> <img src="Content/images/whatsappLogo.png" class="img-thumbnail" alt="" width="100" height="100" /> </a>
            </address>
        </div>
        <div class=”col-lg-3 col-md-4 col-sm-6 col-xs-12″>
            <address>
                <a href="https://www.facebook.com/ContinumLabs-111368010433658/?ti=as" title="seguinos en facebook!"><img src="Content/images/facebookLogo.png" class="img-thumbnail" width="100" height="100" /></a>
            </address>
        </div>
    </div>
</div>
    <hr />
