
@{
    ViewBag.Title = "nuestros servicios ";
}

<h2>@ViewBag.Title</h2>
<ul>
    <li> Creación de documentación accesible. </li>
    <text>
        Transformamos documentación no accesible, es decir  documentos pdf no acesibles, documentación en papel, etc. En documentación digital acesible para todos los usuarios.
    </text>
    <li> Testing de accesibilidad web  </li>
    <text>
        probamos tus páginas web para que sean  accesibles para todas las personas, independientemente de sus capacidades o desde que dispositivo se conecte.
    </text>
    <li> Testing de  aplicaciones accesibles.</li>
    <text>
        testeamos tus aplicaciones para que sean accesible para todos los usuarios. En todas las plataformas.

    </text>
</ul>